<section>
  <h1>Product List</h1>
<a routerLink="/products">
  <div class="products">
  <div *ngIf="products" class="product" routerLink="/productpages" routerLink="">
    <img src="../assets/downloads.jpg" alt="aegis" />
    <h4>{{products.name}}</h4>
    <p>{{products.price | currency:'&#8369;'}}</p>
    <p>(5 stars) {{products.reviews.length}} reviews</p>
  </div>
<!-- comment for webhook -->
  <div class="product" >
    <img src="" alt="aegis" />
    <h4>{{products.name}}</h4>
    <p>{{products.price | currency:'&#8369;'}}</p>
    <p>(5 stars) {{products.reviews.length}} reviews</p>
  </div>

  <div *ngIf="products" class="product" >
    <img src="" alt="aegis" />
    <h4>{{products.name}}</h4>
    <p>{{products.price | currency:'&#8369;'}}</p>
    <p>(5 stars) {{products.reviews.length}} reviews</p>
  </div>
  </div>
</a>
</section>